/* This css is for global stuff effecting the entire website. */

/* This affects everything on the website. */
* {
  box-sizing: border-box;
  margin: 0px;
}

html {
  background-color: #000000;
}

/* The "position: sticky;" + "top: 0;" lines is what makes the header persistent. */
header {
  background-color: #8b8b8b;
  height: 75px;
  position: sticky;
  top: 0;
  border-bottom: solid 1px rgb(255, 255, 255);
}

/* The "position: sticky;" + "bottom: 0;" lines is what makes the footer persistent. */
footer {
  padding: 30px;
  position: sticky;
  bottom: 0;
  background-color: #8b8b8b;
  height: 50px;
  border-top: 1px solid black;
}

section {
  height: 450px;
  border-bottom: 1px rgb(255, 255, 255) solid;
  border-left: 1px rgb(255, 255, 255) solid;
  border-right: 1px rgb(255, 255, 255) solid;
}

p {
  font-size: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}

div {
  width: 900px;
  min-height: 100vh;
  margin: auto;
  background-color: #000000;
  /* border-left: 1px solid rgb(0, 0, 0);
  border-right: 1px solid black; */
}

img {
  margin-left: 349px;
  margin-right: 349px;
  border: solid rgb(116, 116, 116) 1px;
  height: 200px;
}

.headerLinks,
a {
  text-align: center;
  font-size: 30px;
  color: rgb(80, 0, 0);
  text-decoration: none;
}

/* This make the page you are on have a underscore below the link. */
.active {
  border-bottom: 2px solid #3d3d3d;
}

/* This is what makes the glow affect when you are highlighting the links. */
.headerLinks a:hover {
  text-shadow: white 1px 0 10px;
}

.headerName {
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 30px;
  font-style: oblique;
}

.indexh1 {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  text-align: center;
  color: white;
}

.indexh2 {
  text-align: center;
  margin-top: 50px;
  color: white;
}

/* This is the h1 element for the about and portfolio page. */
.notindexh1 {
  text-align: center;
  font-style: italic;
  font-size: 45px;
  border-bottom: rgb(255, 255, 255) solid 1px;
  border-right: rgb(255, 255, 255) solid 1px;
  border-left: rgb(255, 255, 255) solid 1px;
  color: white;
}

/* This is the h2 element for the about and portfolio page. */
.notindexh2 {
  text-align: center;
  font-size: 30px;
  color: white;
}
