/* This css is for global stuff effecting the entire website. */

/* This affects everything on the website. */
* {
  box-sizing: border-box;
  margin: 0px;
}

html {
  background-color: #000000;
}

/* The "position: sticky;" + "top: 0;" lines is what makes the header persistent. */
header {
  background-color: #8b8b8b;
  height: 75px;
  position: sticky;
  top: 0;
  border-bottom: solid 1px rgb(255, 255, 255);
  z-index: 101;
}

/* The "position: sticky;" + "bottom: 0;" lines is what makes the footer persistent. */
footer {
  padding: 30px;
  position: sticky;
  bottom: 0;
  background-color: #8b8b8b;
  height: 50px;
  border-top: 1px solid black;
  z-index: 101;
}

div > section {
  height: 450px;
  border-bottom: 1px rgb(255, 255, 255) solid;
  border-left: 1px rgb(255, 255, 255) solid;
  border-right: 1px rgb(255, 255, 255) solid;
}

p {
  font-size: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}

div {
  width: 900px;
  min-height: 100vh;
  margin: auto;
  background-color: #000000;
}

img {
  margin-left: 349px;
  margin-right: 349px;
  border: solid rgb(116, 116, 116) 1px;
  height: 200px;
}

.headerLinks,
a {
  text-align: center;
  font-size: 30px;
  color: rgb(80, 0, 0);
  text-decoration: none;
  padding: 0 4px 0 4px;
}

/* This make the page you are on have a underscore below the link. */
.active {
  border-bottom: 2px solid #3d3d3d;
}

/* This is what makes the glow affect when you are highlighting the links. */
.headerLinks a:hover {
  text-shadow: white 1px 0 10px;
}

.headerName {
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 30px;
  font-style: oblique;
}

.indexh1 {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  text-align: center;
  color: white;
}

.indexh2 {
  text-align: center;
  margin-top: 50px;
  color: white;
}

/* This is the h1 element for the about and portfolio page. */
.notindexh1 {
  text-align: center;
  font-style: italic;
  font-size: 45px;
  border-bottom: rgb(255, 255, 255) solid 1px;
  border-right: rgb(255, 255, 255) solid 1px;
  border-left: rgb(255, 255, 255) solid 1px;
  color: white;
}

/* This is the h2 element for the about and portfolio page. */
.notindexh2 {
  text-align: center;
  font-size: 30px;
  color: white;
}

.form-parent {
  display: flex;
  width: 900px;
  min-height: 85.4vh;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-left: solid white 1px;
  border-right: solid white 1px;
  justify-content: center;
  align-items: center;
}

form {
  box-shadow: 0px 0px 3px 7px rgba(255, 255, 255, 0.342);
  border-radius: 50px;
  border: solid 3px rgba(255, 255, 255, 0.45);
  background-color: rgba(255, 255, 255, 0.65);
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.form-section-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  margin-top: 9px;
}

.form-section-name > input {
  margin-left: 10px;
  margin-right: 10px;
}

input {
  height: 40px;
  opacity: 0.65;
}

textarea {
  opacity: 0.65;
}

textarea:focus,
textarea:hover,
input:focus,
input:hover {
  z-index: 100;
  opacity: 1;
  scale: 1.1;
  border: black 2px solid;
  border-radius: 6%;
  transition: all 1s ease-in-out;
}

.form-section-name > p {
  text-shadow: #000000 3px 3px 3px;
  letter-spacing: 2px;
  font-size: 1.7em;
  margin-top: 25px;
  margin-left: 250px;
  margin-right: 250px;
}

.form-section-email-phonenumber {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35%;
}

.form-section-email-phonenumber > p {
  text-shadow: #000000 3px 3px 3px;
  letter-spacing: 2px;
  font-size: 1.7em;
  margin-top: 15px;
  margin-bottom: 10px;
}

.form-section-textarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
}

.form-section-textarea > p {
  text-shadow: #000000 3px 3px 3px;
  letter-spacing: 2px;
  font-size: 1.7em;
  margin-top: 15px;
  margin-bottom: 10px;
}

.form-section-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
}

button {
  height: 50px;
  width: 100px;
  font-size: 20px;
}

.submitsuccess {
  display: flex;
  width: 900px;
  min-height: 85.4vh;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-left: solid white 1px;
  border-right: solid white 1px;
  justify-content: center;
  align-items: center;
}

.submitsuccess section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}

.submitsuccess section p {
  margin: 10px;
}

.submitsuccess section :nth-child(2) {
  opacity: 0.7;
}

@media  (max-width: 920px){
  .form-parent {
    width: 100%;
  }
  
  form {
    width: 400px;
  }
}

